<app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>
<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
        <mat-card-title>Productos</mat-card-title>
        <mat-card-subtitle class="mat-body-1">Listado de productos</mat-card-subtitle>
        <div class="d-flex justify-content-end">
            <button mat-raised-button color="primary" routerLink="/productos/insert-producto">
                <mat-icon><i-tabler name="plus"></i-tabler></mat-icon> Agregar Producto
            </button>
        </div>
    </mat-card-content>

    <mat-card-content>
        <mat-accordion class="w-100 m-t-12 p-24">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="d-flex w-100">
                            <div class="flex-1-auto">Buscar Producto</div>
                        </div>
                    </mat-panel-title>
                    
                </mat-expansion-panel-header>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 p-4">

                    <form [formGroup]="formSearch">                                                                                         
                    <mat-form-field class="col-md-12">
                        <mat-label>Buscar</mat-label>
                        <input matInput placeholder="Buscar en tabla" (keyup)="doFilter($event)">
                        <mat-icon matSuffix><i-tabler name="search"></i-tabler></mat-icon>
                    </mat-form-field>
                </form>
            </div>

            </mat-expansion-panel>
        </mat-accordion>
 


        <div class="responsive-table">
            <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                <!-- Columnas    displayedColumns: string[] = ['chrClave', 'chrNombre', 'chrPaterno', 'chrMaterno', 'chrEmail', 'chrTelefono', 'chrTipoUsuario', 'chrClaveEscuela', 'chrStatus'];-->
                <ng-container matColumnDef="Nombre">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="f-s-14" (dblclick)="consultarGrupo(element.idProducto)" >
                        {{element.nombre}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Precio">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Precio</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="f-s-14"  >
                        {{element.precio}}
                        </mat-cell>
                </ng-container>

               <!--   <ng-container matColumnDef="chrPaterno">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Paterno</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.chrPaterno}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="chrMaterno">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Materno</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.chrMaterno}}</mat-cell>
                </ng-container>
                -->

                <ng-container matColumnDef="Stock">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Stock</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="f-s-14" >
                        {{element.idProducto}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="Descripcion">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Descripcion</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="f-s-14" (dblclick)="consultarGrupo(element.idProducto)">
                        {{element.descripcion}}</mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="Estatus">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                    <span class="bg-light-success text-success rounded f-w-600 p-y-6 p-x-16 f-s-14"
                          *ngIf="element.status === 1">
                      Activo
                    </span>
                    <span class="bg-light-danger text-danger rounded f-w-600 p-y-6 p-x-16 f-s-14"
                          *ngIf="element.status === 2">
                      Inactivo
                    </span>
                  </mat-cell>
                  
                  </ng-container>

 
                

               

              <!--  <ng-container matColumnDef="acciones">
                    <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-body-1">
                        <button mat-icon-button color="primary" [routerLink]="['/usuarios/edit-usuario']">
                            <tabler-icon name="edit"></tabler-icon>
                        </button>
                        <button mat-icon-button color="warn">
                            <tabler-icon name="trash"></tabler-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                -->


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>


        </div>
    </mat-card-content>

</mat-card>