<app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>
<mat-card class="cardWithShadow">
  <mat-card class="nav_usuarios">
    <nav mat-tab-nav-bar [tabPanel]="tabPanel">
        
        <a mat-tab-link routerLink="/proveedores/list-proveedores" [active]="isActive('/usuarios/list-proveedores')">Proveedores</a>
        <a mat-tab-link routerLink="/proveedores/list-material"  [active]="isActive('/usuarios/list-material')">Compra de Material</a>

    </nav>
    <mat-tab-nav-panel #tabPanel>
        <div class="p-3">
            <router-outlet></router-outlet>
        </div>
    </mat-tab-nav-panel>
</mat-card>
    <mat-card-content class="p-24">
        <mat-card-title>Proveedores</mat-card-title>
        <mat-card-subtitle class="mat-body-1">Listado de proveedores</mat-card-subtitle>
        <div class="d-flex justify-content-end">
            <button mat-raised-button color="primary" routerLink="/proveedores/insertar-proveedores">
                <mat-icon><i-tabler name="plus"></i-tabler></mat-icon> Agregar Proveedores
            </button>
        </div>
    </mat-card-content>

    <mat-card-content>
        <mat-accordion class="w-100 m-t-12 p-24">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="d-flex w-100">
                            <div class="flex-1-auto">Buscar Proveedor</div>
                        </div>
                    </mat-panel-title>
                    
                </mat-expansion-panel-header>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 p-4">

                    <form [formGroup]="formSearch">                                                                                         
                    <mat-form-field class="col-md-12">
                        <mat-label>Buscar</mat-label>
                        <input matInput placeholder="Buscar en tabla" (keyup)="doFilter($event)">
                        <mat-icon matSuffix><i-tabler name="search"></i-tabler></mat-icon>
                    </mat-form-field>
                </form>
            </div>

            </mat-expansion-panel>
        </mat-accordion>
 


        <div class="responsive-table">
            <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
          
              <!-- Empresa -->
              <ng-container matColumnDef="Empresa">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Empresa</mat-header-cell>
                <mat-cell *matCellDef="let element" class="f-s-14">
                  {{ element.nombreEmpresa }}
                </mat-cell>
              </ng-container>
          
              <!-- Teléfono -->
              <ng-container matColumnDef="Telefono">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Teléfono</mat-header-cell>
                <mat-cell *matCellDef="let element" class="f-s-14">
                  {{ element.telefonoContacto }}
                </mat-cell>
              </ng-container>
          
              <!-- Email -->
              <ng-container matColumnDef="Email">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
                <mat-cell *matCellDef="let element" class="f-s-14">
                  {{ element.nombreContacto }} {{ element.apellidoP }} {{ element.apellidoM }}
                </mat-cell>
              </ng-container>
          
              <!-- Dirección -->
              <ng-container matColumnDef="Direccion">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Dirección</mat-header-cell>
                <mat-cell *matCellDef="let element" class="f-s-14">
                  {{ element.direccion }} 
                </mat-cell>
              </ng-container>
          
              <!-- Estatus -->
              <ng-container matColumnDef="Estatus">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span *ngIf="element.estatus === 1" class="bg-light-success text-success rounded f-w-600 p-y-6 p-x-16 f-s-14">
                    Activo
                  </span>
                  <span *ngIf="element.estatus === 2" class="bg-light-danger text-danger rounded f-w-600 p-y-6 p-x-16 f-s-14">
                    Inactivo
                  </span>
                </mat-cell>
              </ng-container>
          
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
          
    </mat-card-content>

</mat-card>