<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
      <mat-card-title>Registrar Producto</mat-card-title>
  </mat-card-content>

  <mat-card-content class="p-24">
      <form class="row" [formGroup]="insertProducto" (ngSubmit)="onSubmit()">

          <mat-form-field class="col-12 col-md-6 col-lg-6 m-r-3 m-t-12">
              <mat-label>Nombre Producto</mat-label>
              <input matInput placeholder="Nombre Completo" formControlName="nombre">
          </mat-form-field>
          <mat-form-field class="col-12 col-md-6 col-lg-6 m-r-3 m-t-12">
            <mat-label>Precio</mat-label>
            <input matInput placeholder="0" formControlName="precio">
        </mat-form-field>

          <mat-form-field class="col-12 col-md-6 col-lg-6 m-r-3 m-t-12">
            <mat-label>Categoría de Protección</mat-label>
            <mat-select formControlName="categoriaProteccion">
              <mat-option *ngFor="let categoria of categoriasProteccion" [value]="categoria">
                {{ categoria }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div class="col-12 col-md-6 col-lg-6 m-r-3 m-t-12">
            
          
            <!-- Vista previa de la imagen -->
            <div *ngIf="imagePreview" class="image-preview m-b-12">
              <img [src]="imagePreview" alt="Vista previa" class="img-thumbnail" />
            </div>
          
            <!-- Input de archivo oculto -->
            <input
              type="file"
              id="imagenProducto"
              (change)="onFileSelected($event)"
              accept="image/*"
              #fileInput
              class="d-none"
            />
          
           
          </div>
          
          
          
          
      </form>
 <!-- Botón para seleccionar imagen -->
 <button
 mat-raised-button
 color="primary"
 (click)="fileInput.click()"
 class="m-t-12"
>
 Seleccionar Imagen
</button>
     <form action="" (ngSubmit)="onSubmit()">
      <div class="d-flex justify-content-end m-t-24">
        <button mat-raised-button color="primary">
            <mat-icon><i-tabler name="device-floppy"></i-tabler></mat-icon> Guardar
        </button>

        <button mat-raised-button color="accent" class="m-l-12" routerLink="/usuarios">
            <mat-icon><i-tabler name="close"></i-tabler></mat-icon> Cancelar
        </button>
    </div>
      
     </form>
  </mat-card-content>
</mat-card>
