<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <mat-card-title>Registrar Proveedor</mat-card-title>
  </mat-card-content>

  <mat-card-content class="p-24">
    <form class="row" [formGroup]="insertProveedorForm" (ngSubmit)="onSubmit()">

      <!-- Campo Nombre del Proveedor -->
      <mat-form-field class="col-12 col-md-6 col-lg-6 m-r-3 m-t-12">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" placeholder="Nombre" required>
        <mat-error *ngIf="insertProveedorForm.get('nombre')?.hasError('required')">
          El campo nombre es requerido.
        </mat-error>
      </mat-form-field>

      <!-- Campo Apellido Paterno -->
      <mat-form-field class="col-12 col-md-6 col-lg-6 m-r-3 m-t-12">
        <mat-label>Apellido Paterno</mat-label>
        <input matInput formControlName="apellidoP" placeholder="Apellido Paterno" required>
        <mat-error *ngIf="insertProveedorForm.get('apellidoP')?.hasError('required')">
          El campo apellido paterno es requerido.
        </mat-error>
      </mat-form-field>

      <!-- Campo Apellido Materno -->
      <mat-form-field class="col-12 col-md-6 col-lg-6 m-r-3 m-t-12">
        <mat-label>Apellido Materno</mat-label>
        <input matInput formControlName="apellidoM" placeholder="Apellido Materno" required>
        <mat-error *ngIf="insertProveedorForm.get('apellidoM')?.hasError('required')">
          El campo apellido materno es requerido.
        </mat-error>
      </mat-form-field>

      <!-- Campo Nombre de la Empresa -->
      <mat-form-field class="col-12 col-md-6 col-lg-6 m-r-3 m-t-12">
        <mat-label>Nombre de la Empresa</mat-label>
        <input matInput formControlName="nombreEmpresa" placeholder="Nombre de la empresa" required>
        <mat-error *ngIf="insertProveedorForm.get('nombreEmpresa')?.hasError('required')">
          El campo nombre de la empresa es requerido.
        </mat-error>
      </mat-form-field>

      <!-- Campo Nombre de Contacto -->
      <mat-form-field class="col-12 col-md-6 col-lg-6 m-r-3 m-t-12">
        <mat-label>Nombre de Contacto</mat-label>
        <input matInput formControlName="nombreContacto" placeholder="Nombre de Contacto" required>
        <mat-error *ngIf="insertProveedorForm.get('nombreContacto')?.hasError('required')">
          El campo nombre de contacto es requerido.
        </mat-error>
      </mat-form-field>

      

      <!-- Campo Teléfono de Contacto -->
      <mat-form-field class="col-12 col-md-6 col-lg-6 m-r-3 m-t-12">
        <mat-label>Teléfono de Contacto</mat-label>
        <input matInput formControlName="telefonoContacto" placeholder="Teléfono de Contacto" required>
        <mat-error *ngIf="insertProveedorForm.get('telefonoContacto')?.hasError('required')">
          El campo teléfono de contacto es requerido.
        </mat-error>
        <mat-error *ngIf="insertProveedorForm.get('telefonoContacto')?.hasError('pattern')">
          El teléfono de contacto debe contener solo números.
        </mat-error>
      </mat-form-field>

      <!-- Campo Correo -->
      <mat-form-field class="col-12 col-md-6 col-lg-6 m-r-3 m-t-12">
        <mat-label>Correo</mat-label>
        <input matInput formControlName="email" placeholder="Correo" required>
        <mat-error *ngIf="insertProveedorForm.get('email')?.hasError('required')">
          El campo correo es requerido.
        </mat-error>
        <mat-error *ngIf="insertProveedorForm.get('email')?.hasError('email')">
          El correo debe ser un email válido.
        </mat-error>
      </mat-form-field>

      <!-- Campo Dirección -->
      <mat-form-field class="col-12 m-t-12">
        <mat-label>Dirección</mat-label>
        <input matInput formControlName="direccion" placeholder="Dirección">
      </mat-form-field>

    </form>

    <!-- Botones de acción -->
    <div class="d-flex justify-content-end m-t-24">
      <button mat-raised-button color="primary" (click)="onSubmit()">
        <mat-icon><i-tabler name="device-floppy"></i-tabler></mat-icon> Guardar
      </button>

      <button mat-raised-button color="accent" class="m-l-12" (click)="cancelar()">
        <mat-icon><i-tabler name="close"></i-tabler></mat-icon> Cancelar
      </button>
    </div>
  </mat-card-content>
</mat-card>
